.header__wrapper {
  height: 100px;
  width: 100%;
}

.logo {
  background-image: url("https://kmcgee92myawsbucket.s3-us-west-2.amazonaws.com/Nexflix-logo.png");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: bottom;
  text-indent: -999999px;
  height: 200px;
  width: 200px;
}


// .box-container {
// .user {
//     &--gold-member {
//       …
//     }
//   }
// .image {
//     &--avatar {
//       …
//     }
//   }
// }