.historyWrapper {
  padding: 0 40px;
  color: white;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    h2 {
      color: white;
      font-weight: 200;
      font-size: 30px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }
  section {
    .container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      img {
        display: block;
        transition: all .2s ease-in;
        transition: all 0s ease-out;
      }
    }
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    .poster {
    flex-grow: 1;
    width: calc(100% * (1/4) - 80px);
    @media(max-width: 1700px){
      width: calc(100% * (1/3) - 80px);
      
    }
    @media(max-width: 1394px){
      width: calc(100% * (1/2) - 80px);
      
    }
    @media(max-width: 942px){
      display: flex;

      flex-direction: column;
      width: calc(100% - 80px);
      
    }
    .posterOverlay {
      z-index: -1;
      position: absolute;
      width: 25rem;
      height: 60px;
      transition: .5s ease;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        padding: 10px;
      }
      div:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  .container:hover .posterOverlay {
    background-color: rgba(20,20,20,.5);
    z-index: 100;

  }
  }

}